.contact-hero {
    background-image: url(../images/image12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-position-y: -200px;
}