.find-next-bite-content {
    display: flex;
    justify-content: center;
    padding: 50px 0
}

.find-next-bite-content .container {
    width: 80%;
    max-width: 1080px;
}

.next-bite-title {
    margin-bottom: 30px;
}

.next-bite-title .title{
    font-size: 24px;
    color: #F97B22;
    font-weight: bold;
    display: block;
    margin-bottom: -5px;
}

.next-bite-title .sub {
    font-size: 12px;
    color: #404040;
    font-weight: lighter;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}