.navbar-section {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.navbar-section img {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.navlist {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.navlist .nav-items {
    text-decoration: none;
    color: black;
}
.nav-items.active {
    border-bottom: 3px solid #F97B22;
    font-weight: 700;
}
.navlist .nav-items:hover {
    background-color: #F97B22;
    color: white;
    padding: 5px;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.navlist button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #F97B22;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    margin-right: 30px;
    cursor: pointer;
}
.navlist span {
    display: none;
}